
<div class="container">
  <div class="row" id="login-container">
    <div class="span8 offset2">
       <h1>ABC WIRELESS CLOSING</h1>

<%= render 'form' %>

<%= link_to 'Back', total_closings_path %>
    </div>
  </div>
</div>