<!DOCTYPE html>
<html>
<head>
  <title>Closing20</title>
  <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/total_closings">Closing</a>
    <ul class="nav">
      

    </ul>
  </div>
</div>

<%= yield %>
</div>

</body>
</html>
